server/keppel-consumer/src/main/resources/get_promo_code.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><wsdl:definitions xmlns:tns="http://ouaf.oracle.com/webservices/cm/CmPromotionCodeGenerationBS" xmlns:ouaf="http://ouaf.oracle.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CmPromotionCodeGenerationBS" targetNamespace="http://ouaf.oracle.com/webservices/cm/CmPromotionCodeGenerationBS" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsp:UsingPolicy wssutil:Required="true"/><ns0:Policy xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy" wssutil:Id="UsernameToken"><ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512"><ns0:Policy><ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient"><ns0:Policy><ns1:WssUsernameToken10/></ns0:Policy></ns1:UsernameToken></ns0:Policy></ns1:SupportingTokens></ns0:Policy>
  <!-- <wsdl:documentation>CmPromotionCodeGenerationBS version 1: Validate Promotion Code</wsdl:documentation> -->
  <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://ouaf.oracle.com/" elementFormDefault="unqualified">
          <xsd:element name="Fault">
            <xsd:complexType>
                <xsd:all>
                    <xsd:element name="ResponseStatus" type="xsd:string"/>
                    <xsd:element name="ResponseCode" type="xsd:int"/>
                    <xsd:element name="ResponseText" type="xsd:string"/>
                    <xsd:element name="ResponseData" minOccurs="0">
                        <xsd:complexType>
                            <xsd:attribute name="parm1" type="xsd:string"/>
                            <xsd:attribute name="parm2" type="xsd:string"/>
                            <xsd:attribute name="parm3" type="xsd:string"/>
                            <xsd:attribute name="parm4" type="xsd:string"/>
                            <xsd:attribute name="parm5" type="xsd:string"/>
                            <xsd:attribute name="parm6" type="xsd:string"/>
                            <xsd:attribute name="parm7" type="xsd:string"/>
                            <xsd:attribute name="parm8" type="xsd:string"/>
                            <xsd:attribute name="parm9" type="xsd:string"/>
                            <xsd:attribute name="text" type="xsd:string"/>
                            <xsd:attribute name="category" type="xsd:string"/>
                            <xsd:attribute name="numParm" type="xsd:int"/>
                            <xsd:attribute name="number" type="xsd:int"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ServerMessage" minOccurs="0">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="Category" type="xsd:string"/>
                                <xsd:element name="Number" type="xsd:string"/>
                                <xsd:element name="CallSequence" type="xsd:string"/>
                                <xsd:element name="ProgramName" type="xsd:string"/>
                                <xsd:element name="Text" type="xsd:string"/>
                                <xsd:element name="Description" type="xsd:string"/>
                                <xsd:element name="Table" type="xsd:string"/>
                                <xsd:element name="Field" type="xsd:string"/>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
              </xsd:complexType>
          </xsd:element>
          <xsd:simpleType name="money">
            <xsd:restriction base="xsd:decimal"/>
          </xsd:simpleType>
          <xsd:simpleType name="listAction">
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="delete"/>
              <xsd:enumeration value="add"/>
              <xsd:enumeration value="update"/>
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:schema>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://ouaf.oracle.com/webservices/cm/CmPromotionCodeGenerationBS" elementFormDefault="qualified">
  <xsd:import namespace="http://ouaf.oracle.com/"/>
  <xsd:element name="CmPromotionCodeGenerationBS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cmPromoCode" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="8"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="cmPromoCodeType" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="40"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="cmDiscountType" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="isUpdateConsumeCount" nillable="true" type="xsd:boolean" default="false"/>
        <xsd:element name="cmPromoStartDt" nillable="true" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="cmPromoCodeEndDt" nillable="true" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="isValidPromoCode" default="false">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="displaypromocodes" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cmPromoCodeType2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCode2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoStartDt2" nillable="true" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="cmPromoCodeEndDt2" nillable="true" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="cmDiscountType2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmDiscountAmount" default="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="99999999.99"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCodePriorityFlg" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="10"/>
                    <xsd:enumeration value="20"/>
                    <xsd:enumeration value="30"/>
                    <xsd:enumeration value="40"/>
                    <xsd:enumeration value="50"/>
                    <xsd:enumeration value="60"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmRecurrenceCount" default="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmFirstXCustCanUse" default="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="9999999999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCodeConsumed" default="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="9999999999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="action" type="ouaf:listAction"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="promocoderesult" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cmEditPromoCode" nillable="true" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="cmPromoCodeType3" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCode3" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoStartDt3" nillable="true" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="cmPromoCodeEndDt3" nillable="true" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="cmDiscountType3" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmDiscountAmount2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="99999999.99"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCodePriorityFlg2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="10"/>
                    <xsd:enumeration value="20"/>
                    <xsd:enumeration value="30"/>
                    <xsd:enumeration value="40"/>
                    <xsd:enumeration value="50"/>
                    <xsd:enumeration value="60"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmRecurrenceCount2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmFirstXCustCanUse2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="9999999999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="cmPromoCodeConsumed2" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxExclusive value="9999999999"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="action" type="ouaf:listAction"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

  </wsdl:types>

  <!-- wsdl:message elements describe potential transactions -->
  <!-- request for operation CmPromotionCodeGenerationBS -->
  <wsdl:message name="CmPromotionCodeGenerationBSRequest">
    <wsdl:part name="body" element="tns:CmPromotionCodeGenerationBS"/>
  </wsdl:message>

  <!-- response for operation CmPromotionCodeGenerationBS -->
  <wsdl:message name="CmPromotionCodeGenerationBSResponse">
    <wsdl:part name="body" element="tns:CmPromotionCodeGenerationBS"/>
  </wsdl:message>
  
  <!-- fault type -->
  <wsdl:message name="Fault">
    <wsdl:part name="fault" element="ouaf:Fault"/>
  </wsdl:message>

  <!-- wsdl:portType describes messages in an operation -->
  <wsdl:portType name="CmPromotionCodeGenerationBSPortType">
    <wsdl:documentation>CmPromotionCodeGenerationBS version 1: Validate Promotion Code</wsdl:documentation> 
    <wsdl:operation name="CmPromotionCodeGenerationBS">
      <wsdl:input message="tns:CmPromotionCodeGenerationBSRequest"/>
      <wsdl:output message="tns:CmPromotionCodeGenerationBSResponse"/>
      <wsdl:fault name="fault" message="tns:Fault"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- wsdl:binding states a serialization protocol for this service -->
  <wsdl:binding name="CmPromotionCodeGenerationBSSoapBinding" type="tns:CmPromotionCodeGenerationBSPortType"><wsp:PolicyReference URI="#UsernameToken"/>
    <!-- leverage off soap:binding document style @@@(no wsdl:foo pointing at
         the soap binding) -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- semi-opaque container of network transport details classed by
         soap:binding above @@@ -->
    <wsdl:operation name="CmPromotionCodeGenerationBS">
      <!-- again bind to SOAP? @@@ -->
      <soap:operation soapAction="http://localhost/webservices/CmPromotionCodeGenerationBS#CmPromotionCodeGenerationBS"/>
      <!-- furthur specify that the messages in the wsdl:operation
           "CmPromotionCodeGenerationBS" use SOAP? @@@ -->
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- wsdl:service names a new service "CmPromotionCodeGenerationBSService" -->
  <wsdl:service name="CmPromotionCodeGenerationBSService">
    <wsdl:documentation>CmPromotionCodeGenerationBS version 1: Validate Promotion Code</wsdl:documentation> 

    <!-- connect it to the binding "CmPromotionCodeGenerationBSSoapBinding" above -->
    <wsdl:port name="CmPromotionCodeGenerationBSPort" binding="tns:CmPromotionCodeGenerationBSSoapBinding">
      <!-- give the binding a network address -->
      <soap:address location="https://10.21.32.10:6501/ccbsit/webservices/CmPromotionCodeGenerationBS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>