server/keppel-consumer/src/main/resources/security_deposit.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><wsdl:definitions xmlns:tns="http://ouaf.oracle.com/webservices/cm/CM-RetSDAmt" xmlns:ouaf="http://ouaf.oracle.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CM-RetSDAmt" targetNamespace="http://ouaf.oracle.com/webservices/cm/CM-RetSDAmt" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsp:UsingPolicy wssutil:Required="true"/><ns0:Policy xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy" wssutil:Id="UsernameToken"><ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512"><ns0:Policy><ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient"><ns0:Policy><ns1:WssUsernameToken10/></ns0:Policy></ns1:UsernameToken></ns0:Policy></ns1:SupportingTokens></ns0:Policy>
 <!--  <wsdl:documentation>CM-RetSDAmt version 1: Retrieve Security Deposit Amount</wsdl:documentation> -->
  <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://ouaf.oracle.com/" elementFormDefault="unqualified">
          <xsd:element name="Fault">
            <xsd:complexType>
                <xsd:all>
                    <xsd:element name="ResponseStatus" type="xsd:string"/>
                    <xsd:element name="ResponseCode" type="xsd:int"/>
                    <xsd:element name="ResponseText" type="xsd:string"/>
                    <xsd:element name="ResponseData" minOccurs="0">
                        <xsd:complexType>
                            <xsd:attribute name="parm1" type="xsd:string"/>
                            <xsd:attribute name="parm2" type="xsd:string"/>
                            <xsd:attribute name="parm3" type="xsd:string"/>
                            <xsd:attribute name="parm4" type="xsd:string"/>
                            <xsd:attribute name="parm5" type="xsd:string"/>
                            <xsd:attribute name="parm6" type="xsd:string"/>
                            <xsd:attribute name="parm7" type="xsd:string"/>
                            <xsd:attribute name="parm8" type="xsd:string"/>
                            <xsd:attribute name="parm9" type="xsd:string"/>
                            <xsd:attribute name="text" type="xsd:string"/>
                            <xsd:attribute name="category" type="xsd:string"/>
                            <xsd:attribute name="numParm" type="xsd:int"/>
                            <xsd:attribute name="number" type="xsd:int"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ServerMessage" minOccurs="0">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="Category" type="xsd:string"/>
                                <xsd:element name="Number" type="xsd:string"/>
                                <xsd:element name="CallSequence" type="xsd:string"/>
                                <xsd:element name="ProgramName" type="xsd:string"/>
                                <xsd:element name="Text" type="xsd:string"/>
                                <xsd:element name="Description" type="xsd:string"/>
                                <xsd:element name="Table" type="xsd:string"/>
                                <xsd:element name="Field" type="xsd:string"/>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
              </xsd:complexType>
          </xsd:element>
          <xsd:simpleType name="money">
            <xsd:restriction base="xsd:decimal"/>
          </xsd:simpleType>
          <xsd:simpleType name="listAction">
            <xsd:restriction base="xsd:token">
              <xsd:enumeration value="delete"/>
              <xsd:enumeration value="add"/>
              <xsd:enumeration value="update"/>
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:schema>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://ouaf.oracle.com/webservices/cm/CM-RetSDAmt" elementFormDefault="qualified">
  <xsd:import namespace="http://ouaf.oracle.com/"/>
  <xsd:element name="CM-RetSDAmt">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="input" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="premiseType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="idType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="payMethod" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="output" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="sdAmount" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

  </wsdl:types>

  <!-- wsdl:message elements describe potential transactions -->
  <!-- request for operation CM-RetSDAmt -->
  <wsdl:message name="CM-RetSDAmtRequest">
    <wsdl:part name="body" element="tns:CM-RetSDAmt"/>
  </wsdl:message>

  <!-- response for operation CM-RetSDAmt -->
  <wsdl:message name="CM-RetSDAmtResponse">
    <wsdl:part name="body" element="tns:CM-RetSDAmt"/>
  </wsdl:message>
  
  <!-- fault type -->
  <wsdl:message name="Fault">
    <wsdl:part name="fault" element="ouaf:Fault"/>
  </wsdl:message>

  <!-- wsdl:portType describes messages in an operation -->
  <wsdl:portType name="CM-RetSDAmtPortType">
    <wsdl:documentation>CM-RetSDAmt version 1: Retrieve Security Deposit Amount</wsdl:documentation> 
    <wsdl:operation name="CM-RetSDAmt">
      <wsdl:input message="tns:CM-RetSDAmtRequest"/>
      <wsdl:output message="tns:CM-RetSDAmtResponse"/>
      <wsdl:fault name="fault" message="tns:Fault"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- wsdl:binding states a serialization protocol for this service -->
  <wsdl:binding name="CM-RetSDAmtSoapBinding" type="tns:CM-RetSDAmtPortType"><wsp:PolicyReference URI="#UsernameToken"/>
    <!-- leverage off soap:binding document style @@@(no wsdl:foo pointing at
         the soap binding) -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- semi-opaque container of network transport details classed by
         soap:binding above @@@ -->
    <wsdl:operation name="CM-RetSDAmt">
      <!-- again bind to SOAP? @@@ -->
      <soap:operation soapAction="http://localhost/webservices/CM-RetSDAmt#CM-RetSDAmt"/>
      <!-- furthur specify that the messages in the wsdl:operation
           "CM-RetSDAmt" use SOAP? @@@ -->
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- wsdl:service names a new service "CM-RetSDAmtService" -->
  <wsdl:service name="CM-RetSDAmtService">
    <wsdl:documentation>CM-RetSDAmt version 1: Retrieve Security Deposit Amount</wsdl:documentation> 

    <!-- connect it to the binding "CM-RetSDAmtSoapBinding" above -->
    <wsdl:port name="CM-RetSDAmtPort" binding="tns:CM-RetSDAmtSoapBinding">
      <!-- give the binding a network address -->
      <soap:address location="https://10.21.32.10:6501/ccbsit/webservices/CM-RetSDAmt"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>